*{
	background-color: lightblue;
}

button{
	background-color: skyblue;
	padding: 10px;
	border-radius: 10px;
}

button:hover{
	background-color: white;
	border-color: skyblue;
	box-shadow: 10px 10px 30px;
}
